# Common settings
BasedOnStyle: Microsoft
TabWidth: 4
IndentWidth: 4
UseTab: Always
ColumnLimit: 120

---
Language: Cpp
Standard: Cpp11
DisableFormat: false # // clang-format off/on to disable in code
# indent
AccessModifierOffset: 0 # public/private/protected keywords
IndentAccessModifiers: true
IndentCaseLabels: true
NamespaceIndentation: All
# alignement
AlignArrayOfStructures: Left # does not work with UseTab: Always
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
# ArrayInitializerAlignmentStyle: left
# short blocks
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline # classes + empty outside classes
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false # array initialization list line by line
# brackets
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  AfterExternBlock: true
  # empty brackets on same line
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
# includes
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
---
